django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
tensorflow
tensorflow_hub
librosa
pillow
matplotlib
ultralytics
langgraph
google.generativeai
openai
python-dotenv
faster_whisper
transformers
accelerate
bitsandbytes
sentencepiece
seaborn
sounddevice
requests
diffusers
torch
torchvision